docker.registry = 'docker.io'

docker {
    enabled    = true
    runOptions = '--user $(id -u):$(id -g)'
}

executor {
    $local {
        memory = '8 GB'
        cpus   = 2
    }
}

process {
    withName: 'BIOPHI_SAPIENS' {
        ext.prefix = 'test_antibody'
        memory     = '8 GB'
        cpus       = 2
    }
}